
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bai3</title>
</head>
<body>
    <table border="1" cellspacing="4" width="800">
        <tr >
            <td colspan="5">THÔNG TIN SINH VIÊN</td>
        </tr>
        <tr>
            <th rowspan="4" width="35%">
                <img src="~/Content/Image/b3.png" 
                width="280"/>
            </th>
            <td>HỌ VÀ TÊN</td>
            <th align="left" colspan="3">Nguyễn Văn An</th>
        </tr>
        <tr>
            <td>MÃ SỐ SINH VIÊN</td>
            <th align="left">19DH110110</th>
            <td>GIỚI TÍNH</td>
            <th align="left">NAM</th>
        </tr>
        <tr>
            <td>EMAIL</td>
            <th align="left">an@gmai.com</th>
            <td>SỐ ĐIỆN THOẠI</td>
            <th align="left">0122333444</th>
        </tr>
        <tr>
            <td>SỞ THÍCH</td>
            <th align="left" colspan="3">VIẾT CHƯƠNG TRÌNH</th>
        </tr>
    </table>
</body>
</html>
