
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bai4</title>
</head>
<body>
    <table cellpadding="1" width="800">
        <tr>
            <td width="35%" rowspan="3"><img src="~/Content/Image/b4.png" width="280"/></td>
            <th> <p style="font-size:30px">VESTIBULUM ULLAMCORPER UT LEO QUIS</p></th>
        </tr>
        <tr>
            <td>
                <pre>
        Aenean dacilisis lectus ante, us rutrum eros convallis et.

        Vestibulum ullamcorper ut leo quis tristique. Donec in erat commodo, phareta purus ac,

        consectetur lacus. Suspendisse odio sapien, egestas at ex sit amet, molestie sagittis est.


        In id purus imperdiet nisl accumsan scelesrisque. Donec nec justo sed enim daopibus

        rhoncus. Morbi sed elit vitae metus illamcorper efficitur.


        Fusce aliquam magna id ipsum ultricies interdum. Maecenas nibh risus.
            </pre>
            </td>
        </tr>
        <tr>
            <td>
                <pre>        <button>DETAIL</button></pre>
            </td>
        </tr>
    </table>
</body>
</html>
