
@{
    Layout = null;
}

<!DOCTYPE html> 

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bai5</title>
</head>
<body>
    <h1 align="center">MY PORTFOLIO</h1>
    <hr width="10%" size="3" color="green" align="center" />
    <table align="center">
        <tr>
            <td>
                <pre>All    Web App    UI/UX    Graphic Design    Mobile App   Branding    Marketing</pre>
            </td>
        </tr>
    </table>
    <table align="center">
        <tr>
            <th>
                <img src="~/Content/Image/b5.png" />
            </th>
            <th>
                <img src="~/Content/Image/b5.png" />
            </th>
            <th>
                <img src="~/Content/Image/b5.png" />
            </th>
        </tr>
        <tr>
            <th>
                <img src="~/Content/Image/b5.png" />
            </th>
            <th>
                <img src="~/Content/Image/b5.png" />
            </th>
            <th>
                <img src="~/Content/Image/b5.png" />
            </th>
        </tr>
    </table>
</body>
</html>
